<!DOCTYPE html>
<html>
  <head>
    <title>Adicionar novo professor</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
      $(document).ready(function(){
        var nome, cpf, rg, orgao, curso, semestre, avaliacao;
        $("#submit").click(function(){
          nome=$("#nome").val();
          cpf=$("#cpf").val();
          rg=$("#rg").val();
          orgao=$("#orgao").val();
          curso=$("#curso").val();
          semestre=$("#semestre").val();
          avaliacao=$("#avaliacao").val();
          $.post("http://localhost:3000/addprofessor",{nome: nome, cpf: cpf, rg: rg, orgao: orgao, curso: curso, semestre: semestre, avaliacao: avaliacao}, function(data){
            if(data==='done')
              {
                alert("add success");
              }
          });
        });
      });
    </script>
  </head>
  <body>
    <h1>Adicionar novo professor</h1>
    <label for="nome"> Nome</label><br>
    <input type="TEXT" name="nome" id="nome" size="40" placeholder="Nome completo"><br>

    <label for="cpf">CPF</label><br>
    <input type="number" name="cpf" id="cpf" size="40" placeholder="cpf, apenas números"><br>

    <label for="rg">RG</label><br>
    <input type="number" name="rg" id="rg" size="40" placeholder="RG, apenas números"><br>

    <label for="orgao">Órgão Emissor</label><br>
    <input type="TEXT" name="orgao" id="orgao" size="40" placeholder="órgão emissor"><br>

    <label for="curso">Curso</label><br>
    <input type="TEXT" name="curso" id="curso" size="40" placeholder="Curso de formação ou em andamento"><br>

    <label for="semestre">Semestre</label><br>
    <input type="number" name="semestre" id="semestre" size="40" placeholder="Semestre atual"><br>

    <label for="avaliacao">Avaliação</label><br>
    <input type="number" name="avaliacao" id="avaliacao" size="40" placeholder="Avaliação média do professor"><br>

    <br>
    <input type="button" id="submit" value="Salvar">
    <p>
    <form method="get" action="/">
      <button type="submit">Cancelar</button>
    </form>
  </body>
</html>