<!DOCTYPE html>
<html>
    <head>
        <title>< Editar professor</title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<form method="post" action="" action="editprof/?CPF=<%=id%>">
    <table cellpadding="11">
    <tr>
        <td class="label">Nome</td><td>: <input type="text" name="nome" value=""></td>
     </tr>
      <tr>
        <td class="label">RG</td><td>: <input type="text" name="rg" value=""></td>
     </tr>
      <tr>
        <td class="label">Órgão Emissor</td><td>: <input type="text" name="orgao" value=""></td>
     </tr>
      <tr>
        <td class="label">Curso</td><td>: <input type="text" name="curso" value=""></td>
     </tr>
      <tr>
        <td class="label">Semestre</td><td>: <input type="text" name="semestre" value=""></td>
     </tr>
      <tr>
        <td class="label">Avaliação</td><td>: <input type="text" name="avaliacao" value=""></td>
     </tr>
     <tr>
        <td class="label"></td>
        <td>
        </td>
     </tr>
    </table>
    <input type="submit" id="submit" value="Salvar">
</form> 
<p>
    <form method="get" action="/listaprofessores">
      <button type="submit">Página Inicial</button>
    </form>
 <script>
    
        function editProfessor(){
           
           $.ajax({
            
            url:"/listaprofessores/"+<%=id%>,
            type:"put",
            data:$("#the-form").serialize(),
            success:function(res){
                
                window.location.href = '/listaprofessores';
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }
            
           });
        }
    
    </script>
</body>
</html>
