<!DOCTYPE html>
<html>
    <head>
        <title>< Editando aluno </title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<form method="post" action="" action="editaluno/?id=<%=id%>">
    <table cellpadding="11">
    <tr>
        <td class="label">Nome</td><td>: <input type="text" name="nome" value=""></td>
     </tr>
    <tr>
        <td class="label">Nascimento</td><td>: <input type="text" name="nascimento" value=""></td>
     </tr>
      <tr>
        <td class="label">Projeto</td><td>: <input type="text" name="projeto" value=""></td>
     </tr>
      <tr>
        <td class="label">Colégio</td><td>: <input type="text" name="colégio" value=""></td>
     </tr>
     <tr>
        <td class="label"></td>
        <td>
        </td>
     </tr>
    </table>
    <input type="submit" id="submit" value="Salvar">
</form>
 <script>
    
        function editAluno(){
           
           $.ajax({
            
            url:"/listalunos/"+<%=id%>,
            type:"put",
            data:$("#the-form").serialize(),
            success:function(res){
                
                window.location.href = '/listalunos';
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }
            
           });
        }
    
    </script>
</body>
</html>
