<!DOCTYPE html>
<html>
  <head>
    <title>TechEdu Academy</title>
  <body>
    <h1>TechEdu Academy</h1>

    <form method="get" action="/addAluno">
      <button type="submit">Adicionar novo aluno</button>
    </form>
      <p>
    <form method="get" action="/addProfessor">
      <button type="submit">Adicionar novo professor</button>
    </form>
      <p>
    <form method="get" action="/addEvento">
      <button type="submit">Adicionar novo evento</button>
    </form>
      <p>
    <form method="get" action="/addWorkshop">
      <button type="submit">Adicionar novo workshop</button>
    </form>
      <p>
    </form>
  </body>
</html>